body {
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #4c6da3;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

form {
    width: 100%;
}

.error {
    color: red;
    font-size: 18px;
}

.gitlab-img {
    width: 300px;
    display: block;
}

.mh {
    min-height: 800px;
}

.card {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #4c6da3;
    margin-bottom: 40px;
    border: none;
}

.col-img {
    width: 49%;
    height: 270px;
    display: inline-block;
}

.img-card {
    z-index: 1;
    display: block;
    width: 370px;
    height: 220px;
    margin: 0 auto;
    border: solid 1px black;
}

input[type=radio] {
    opacity: 0;
    z-index: 999;
    position: relative;
    top: -198px;
    left: 87px;
    width: 370px;
    height: 200px;
    background-color: blue;
    cursor: pointer;
    margin: 0 0;
}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 28px;
    }
    .col-img {
        width: 100%;
        height: 270px;
        display: inline-block;
    }
}

@media only screen and (max-width: 420px) {

    h1 {
        font-size: 25px;
    }
    .col-img {
        width: 100%;
        height: 250px;
    }
    .img-card {
        width: 290px;
        height: 180px;
    }
    input[type=radio] {
        opacity: 0;
        z-index: 999;
        position: relative;
        top: -220px;
        left: 3px;
        width: 340px;
        height: 190px;
        background-color: blue;
        cursor: pointer;
        margin: 0 0;
    }
    .mh {
        min-height: 500px;
    }
}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 28px;
    }
    .col-img {
        width: 100%;
        height: 270px;
        display: inline-block;
    }
}

@media only screen and (max-width: 340px) {

    h1 {
        font-size: 25px;
    }
    .col-img {
        width: 100%;
        height: 200px;
    }
    .img-card {
        width: 285px;
        height: 180px;
    }
    input[type=radio] {
        opacity: 0;
        z-index: 999;
        position: relative;
        top: -181px;
        left: 3px;
        width: 285px;
        height: 180px;
        background-color: blue;
        cursor: pointer;
        margin: 0 0;
    }
    .mh {
        min-height: 500px;
    }
}
